
<!DOCTYPE html>

<html lang="en" class="has-lab-nav-bottom lab-theme-light">
<head>
   <title><%= BookInfo.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>



<body>


<div class="table-responsive">
<table class="table">

  <thead class = "thead-dark">
    <tr>
      <th scope="col"><%= name %></th>



    </tr>
  </thead>


  <tbody>

    <% for(var i=0; i < BookInfo.length; i++) { %>
    <tr>

      <td>

        <%= BookInfo[i].content%>
        <form method="POST" action="/<%= name %>/<%= BookInfo[i]._id %>?_method=DELETE">

        	<input type="hidden" name="_method" value="DELETE"/>
        	<button type="submit">
        			<i class="far fa-trash-alt"></i>
        	</button>
        </form>
        <a href="/Andy/getAppendForm/<%= BookInfo[i]._id%>/<%=name%>" > Edit </a>

      </td>

      </tr>
          <% } %>



  </tbody>
</table>

</div>

<center>
  <a href="/Andy/createNoteForm/<%=name%>"> <i class="fas fa-plus-circle" title = "Append Notes"></i></a>
</center>






  </html>
