
<!DOCTYPE html>

<html lang="en" class="has-lab-nav-bottom lab-theme-light">
<head>
   <title><%= BookInfo.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/getListOfBooks">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">




      </ul>

    </div>
  </nav>


<div class="table-responsive">
<table class="table table-bordered">

  <thead class = "thead-dark">
    <tr>
      <th scope="col"><%= name %></th>
        <th scope="col">Edit Notes</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < BookInfo.length; i++) { %>
    <tr>

      <td >
         <%= BookInfo[i].content%>

        <br>



      </td>
      <td>
        <form method="POST" action="/<%= name %>/<%= BookInfo[i]._id %>?_method=DELETE">
          <!--
        	<input type="hidden" name="_method" value="DELETE"/>
        	<button type="submit">
        			<i class="far fa-trash-alt"></i>
        	</button>
        -->
          <a class = "darkMode" href="/updateBookNote/<%= BookInfo[i]._id%>/<%=name%>" > Edit </a>
        </form>
      </td>

      </tr>
          <% } %>

  </tbody>
</table>

</div>

<center>

  <a href="/createNoteForm/<%=name%>"> <i class="fas fa-plus-circle" title = "Append Notes"></i></a>
</center>






  </html>
