<!DOCTYPE html>

<html lang="en" class="has-lab-nav-bottom lab-theme-light">
<head>
   <title>Update Book Entry</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>



<body>
<% include ../ReusableComponents/navbar.ejs %>
  <a class="navbar-brand" href="/<%=name %>/getNotes/"><%=name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">




      </ul>

    </div>
  </nav>


<center><h3> Update Book Note </h3>





  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 ">
            <div class="well well-sm">
                <form action = "/<%=id%>/<%=name%>/updateNotes?_method=PUT" class="form-horizontal " method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-8">
                                <input id="content" value = "<%= content %>"  name="content" type="text" placeholder=" Content " class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


</div>
   </center>

  </html>
